<p id="notice"><%= notice %></p>
<div class="container">

	<% if @user.isadmin %>
		<h1 align="center"><span class="label label-warning">All Projects</span></h1>
		    <p>&nbsp;</p>
			<% cols = 1 %>
			<% i = 0 %>
			<% @projects.each do |project|%> 
				
			   	<% if cols == 1%>
			   		<div class="row">
			   	<% end %>
			   		
						<div class="col-sm-6 col-lg-3">	
				   			<div class="panel panel-warning">
				   				<div class="panel-heading"><h3 class="panel-title"><%= project.name %></h3></div>
				   				<%= project.description %>
				   					<div class="panel-footer">


					   					<%= link_to 'Details', project %>
					   					<% if @user.isadmin %>
								   			<%= "---" %>
									   		<%= link_to 'Edit', edit_project_path(project)%>
									   		<%= "---" %>
									   		<%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %>
									   		<%= "---" %>
									   		<%= link_to 'Team', show_team_path(project)%>
									   	<%end%>
				   					</div>
				   				</div>
				   			</div>
				   	
				   	
				   	<% i += 1 %>
				    <% if (cols == 4) %>
				   		</div>	
				   		<% cols = 0 %>
				    <% end %>
				    <% cols += 1 %>
			<% end %>
			<% if (cols != 5 && cols != 1) %>
			   	</div>
			<% end %>
			
			<p>&nbsp;</p>		

   <%end%>
   <h1 align="center"><span class="label label-primary">I'm the Scrum Master</span></h1>
   <% #En @user.projects_managed y @user.projects_owned están los proyectos respectivos, y en @user.projects estan los que no es SM ni PO. %>
		    <p>&nbsp;</p>
			<% cols = 1 %>
			<% i = 0 %>
			<% @user.projects_managed.each do |project|%> 
				
			   	<% if cols == 1%>
			   		<div class="row">
			   	<% end %>
			   		
						<div class="col-sm-6 col-lg-3">	
				   			<div class="panel panel-primary">
				   				<div class="panel-heading"><h3 class="panel-title"><%= project.name %></h3></div>
				   				<%= project.description %>
				   					<div class="panel-footer">
				   					<%= link_to 'Details', project %>
					   					<% if @user.isadmin %>
								   			<%= "---" %>
									   		<%= link_to 'Edit', edit_project_path(project)%>
									   		<%= "---" %>
									   		<%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %>
									   	<%end%>
				   					</div>
				   				</div>
				   			</div>
				   	
				   	
				   	<% i += 1 %>
				    <% if (cols == 4) %>
				   		</div>	
				   		<% cols = 0 %>
				    <% end %>
				    <% cols += 1 %>
			<% end %>
			<% if (cols != 5 && cols != 1) %>
			   	</div>
			<% end %>
			
			<p>&nbsp;</p>	

   <h1 align="center"><span class="label label-success">I'm the Product Owner</span></h1>

    <p>&nbsp;</p>
	<% cols = 1 %>
	<% i = 0 %>

	<% @user.products_owned.each do |project|%> 

	   	<% if cols == 1%>
	   		<div class="row">
	   	<% end %>
	   		
					<div class="col-sm-6 col-lg-3">
		   				<div class="panel panel-success">
		   					<div class="panel-heading"><h3 class="panel-title"><%= project.name %></h3></div>
		   					<%= project.description %>
		   						<div class="panel-footer">
		   							<%= link_to 'Details', project%>
									   		<%= "---" %>
		   							<%= link_to 'User Stories', user_stories_owner_path(project)%>
									   		<%= "---" %>
									<%= link_to 'Releases', releases_owner_path(project)%>

		   						</div>
		   						</div>
	   						</div>
	   					
	   		
	   		<% i += 1 %>
	    <% if (cols == 4) %>
	   		</div>	
	   		<% cols = 0 %>
	    <% end %>
	    <% cols += 1 %>
	<% end %>
	<% if (cols != 5 && cols != 1) %>
	   	</div>
	<% end %>	
	<p>&nbsp;</p>

   <h1 align="center"><span class="label label-info">I'm Developing or Testing</span></h1>

    <p>&nbsp;</p>
	<% cols = 1 %>
	<% i = 0 %>

	<% @user.projects.each do |project|%>  <!-- cambiar a while i < cantidad de proyectos de los que soy PO -->



	   	<% if cols == 1%>
	   		<div class="row">
	   	<% end %>
	   		<div align="center">
				<div class="col-sm-6 col-lg-3">
		   		<div class="panel panel-info">
		   		<div class="panel-heading"><h3 class="panel-title"><%= project.name %></h3></div>
		   		<%= project.description %>
		   		<div class="panel-footer">opc</div>
		   	</div>
		   		</div></div>
	   		<% i += 1 %>
	    <% if (cols == 4) %>
	   		</div>	
	   		<% cols = 0 %>
	    <% end %>
	    <% cols += 1 %>
	<% end %>
	<% if (cols != 5) %>
	   	</div>
	<% end %>	
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

   <p>&nbsp;</p>
</div>