<p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-md-4">
     <%= render :partial => "projects/project" %>
    </div>
  </div>

<!--
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Product owner:</strong>
  <%= @project.product_owner_id %>
</p>

<p>
  <strong>Scrum master:</strong>
  <%= @project.scrum_master_id %>
</p>

<p>
  <strong>Sprint duration in weeks:</strong>
  <%= @project.sprint_duration_in_weeks %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
-->