<div class="container">
    <div class="panel panel-primary" width="500px">
      <div class="panel-heading"><h3 class="panel-title">Team for Project: <%= @project.name %></h3></div>
        <div align="center">

              <table class="table" width="145">
                  <tr>  
                      <td width="100"><strong>Email</strong></td>
                      <td width="15"><strong>Role</strong></td>
                      <td width="15"></td>
                      </tr>
                      <% @project.product_owners.each do |user| %>
                        <tr>
                              <td width="100"><%= user.email %></td>
                              <td width="15">Product Owner</td>
                              <td width="15"><%= link_to 'Remove from Team', remove_from_team_path(:project_id => @project.id, :id => user.id, :type => "PO"), method: :post, data: { confirm: 'Are you sure?' }%></td>

                        </tr>
                      <%end%>
                      <% @project.scrum_masters.each do |user| %>
                        <tr>
                              <td width="100"><%= user.email %></td>
                              <td width="15">Scrum Master</td>
                              <td width="15"><%= link_to 'Remove Role', remove_from_team_path(:project_id => @project.id, :id => user.id, :type => "SM"), method: :post, data: { confirm: 'Are you sure?' }%></td>

                        </tr>
                      <%end%>
                      <% @project.users.each do |user| %>
                            <tr>
                              <td width="100"><%= user.email %></td>
                              <td width="15">Developer/Tester</td>
                              <td width="15"><%= link_to 'Remove Role', remove_from_team_path(:project_id => @project.id, :id => user.id, :type => "DEV"), method: :post, data: { confirm: 'Are you sure?' }%></td>
                            </tr>
                      <% end #each%> 
                  </tr>
            </table>
        </div>
      </div>
    

    <div class="panel panel-primary" width="500px">
      <div class="panel-heading"><h3 class="panel-title">Add Developer/Tester to Team</h3></div>
        <div align="center">

              <table class="table" width="145">
                  <tr>  
                      <td width="100"><strong>Email</strong></td>
                      <td width="15"><strong>Role</strong></td>
                      <td width="15"></td>
                      </tr>

                      <% @all_users.each do |user| %>
                            <tr>
                              <td width="100"><%= user.email %></td>
                              <td width="15">None</td>
                              <td width="15"><%= link_to 'Add To Project', add_to_team_path(:id => user.id, :project_id => @project.id), method: :post %></td>
                            </tr>
                      <% end #each%> 
                  </tr>
            </table>
        </div>
      </div>
    </div>
</div>