
<div class="container">
    <div class="panel panel-primary" width="500px">
        <div class="panel-heading"><h3 class="panel-title"><%=@project.name%></h3></div>
          <div align="center">
            <div class="panel-body">
             
              <table class="table" width="260">
                    <tr>  
                        <td width="100"><strong>Name</strong></td>
                        <td width="100"><strong>Description</strong></td>
                        <td width="15"><strong>Product Owner</strong></td>
                        <td width="15"><strong>Scrum Master</strong></td>
                        <td width="15"><strong>Sprint Duration (in weeks)</strong></td>
                        <td width="15"><strong>Releases</strong></td>
                        </tr>

                        <tr>
                              <td width="100"><%= @project.name %></td>
                              <td width="100"><%= @project.description %></td>
                              <td width="15"><%= @project.product_owner.email %></td>
                              <td width="15"><%= @project.scrum_master.email %></td>
                              <td width="15"><%= @project.sprint_duration_in_weeks %></td>
                              <td width="15"><%= @project.releases.count %></td>
                        </tr>

                    </tr>
                </table>
        </div>
      </div>
    </div>
</div>