<h1>Listing success_criterions</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Completed</th>
      <th>User story task</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @success_criterions.each do |success_criterion| %>
      <tr>
        <td><%= success_criterion.description %></td>
        <td><%= success_criterion.completed %></td>
        <td><%= success_criterion.user_story_task_id %></td>
        <td><%= link_to 'Show', success_criterion %></td>
        <td><%= link_to 'Edit', edit_success_criterion_path(success_criterion) %></td>
        <td><%= link_to 'Destroy', success_criterion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Success criterion', new_success_criterion_path %>
