<div class="container">
<h1 align="center"><span class="label label-primary">Sprints for Release #<%= @release.id %> of Project <%= @release.project.name %>: </span></h1>
<p>&nbsp;</p>
<p align="center"><%= link_to 'Add Sprint',new_sprint_path(:release_id => @release.id), :class => "btn btn-default btn-lg"%></p>
		    <p>&nbsp;</p>
			<% cols = 1 %>
			<% i = 0 %>		   		
			<% @release.sprints.each do |sprint|%> 
				
			   	<% if cols == 1%>
			   		<div class="row">
			   	<% end %>
			   		<div align="center">
						<div class="col-sm-6 col-lg-3">	
				   			<div class="panel panel-primary">
				   				<div class="panel-heading"><h3 class="panel-title"><%= "Sprint" %></h3></div>
				   				<strong>Sprint #:  </strong><%= sprint.id %><br>
				   				<strong>Sprint Review:  </strong><%= sprint.sprint_review %><br>
				   					<div class="panel-footer">
									   		<%= link_to 'Edit Review',edit_sprint_path(sprint)%>
									   		<%= "---" %>
									   		<%= link_to 'User Stories',user_stories_for_sprint_master_path(sprint)%>
									   		<%= "---" %>
									   		<%= link_to 'Burndown Chart',get_burndown_chart_path(sprint)%>
				   					</div>
				   				</div>
				   			</div>
				   	</div>
				   	<% i += 1 %>
				    <% if (cols == 4) %>
				   		</div>	
				   		<% cols = 0 %>
				    <% end %>
				    <% cols += 1 %>
			<% end %>
			<% if (cols != 5 && cols != 1) %>
			   </div>
			<% end %>
			
			<p>&nbsp;</p>		


</div>
